<! main html>
<p class="lead">This is the HTML file that I can operator on and create an simple interface</p>



<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Input:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
		
      </ul>
    </div>
  </div>
</div>
